html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* .dark {
  background-color: black;
  color: white;
} */

/* .overlay {
  object-fit: cover;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
} */

/* main {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

/* a {
  display: block;
  display: flex;
  border-radius: 8px;
  padding: 8px;
  margin: 20px;
  display: flex;
  width: 200px;
  text-align: center;
  text-decoration: none;
  font-size: large;
  font-weight: 800;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
} */

/* a:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

/* a img {
  width: 50px;
  height: 50px;
} */



body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
	flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* flex: 0 0 auto; */
  margin: 10px;
}



/* .button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 250px;
  height: 60px;
  padding-left: 8px;
  border-radius: 8px;
  font: normal normal bold 20px arial;
  text-decoration: none;
  background: #ff4a4a;
  color: #ffffff;
  position: relative;
} */
/* .button:hover,
.button:focus {
  background: #ff5959;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff5959), to(#b62f2f));
  background: -moz-linear-gradient(top, #ff5959, #b62f2f);
  background: linear-gradient(to bottom, #ff5959, #b62f2f);
  color: #ffffff;
  text-decoration: none;
} */
/* .button:active {
  background: #982727;
  background: -webkit-gradient(linear, left top, left bottom, from(#982727), to(#982727));
  background: -moz-linear-gradient(top, #982727, #982727);
  background: linear-gradient(to bottom, #982727, #982727);
} */
/* .button:before{
  content:  "\0000a0";
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin-right: 8px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: url("plex.png") no-repeat left center transparent;
  background-size: 100% 100%;
} */
